@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
*::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

* {
  transition: all 0.2s ease;
}

@keyframes appears {
  0% {
    opacity: 0;
    transform: translateY(20px) scale(0);
  }
  60% {
    transform: translateY(0) scale(1.1);
    opacity: 1;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

.appears {
  animation: appears 1s cubic-bezier(0.22, 1, 0.36, 1);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 1s ease;
}
